.about-us-detail{

   display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}
.about-myself{
   
    flex: 1 1 42rem;
    margin: auto;
}
.icons{
    font-size: 40px;
    color: orange;
}
.icons:hover{
    color: blue;
}
.image-data{
    order: unset;
    flex: 1 1 42rem;
}
.sss{
    display:flex;
    gap: 1.5rem;
    justify-content: center;
    flex-wrap: wrap;
}
.s{
    flex: 1 1 30rem;
   
}

