.all_project_container1{
    display: flex;
    flex-wrap: wrap;

}
.image1{
    background-color: #000;
    border: 1rem solid #000;
    display: flex;
    flex: 1 1 50rem;
    height: 35rem;
    object-fit: fill;
    overflow: hidden;
    position: relative;
  

}
.project-myself1{
    
    background: #006400;
    height: 24rem;
    height: 100%;
    position: absolute;
    text-align: center;
    top: 100%;
    width: 100%;
}
.image1:hover .project-myself1{
    display: block;
    background-color: blue;
    top: 0;
}
.title_flex1{
    display: flex;
    gap: 1.5rem;
    justify-content: center;
}
.rroject-us-detail1{
    width:400px
}