

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');
:root{
 --orange:#ffa500;
}



 *{
    
     font-family: 'Nunito', sans-serif;
   
    
     transition: all 0.2s linear;
 }
 *::selection{
     background:var(--orange);
   
     color: white;
 }
section{
  padding: 3rem;
}

p{text-align: center;}
html{
   
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 6rem;
  scroll-behavior: smooth;

}


.space{
  display: none;
}
.heading {
  text-align: center;
  padding: 64px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.heading span {
  font-size: 50px;
  color: orange;
  border-radius: 8px;
  background: rgba(255, 165, 0,.2);
  padding: 2px 2px;
}

@media screen and (max-width:450px) {
  .heading span{
    font-size: 30px;
    padding: 4px 2px;
  }
  .heading {
    text-align: center;
    padding: 64px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem;
  }
}
body{
    
   background: black;
  
}
h1,p{
    color: white;
    font-size: 25px;
}
i:hover{
  color: palevioletred;
}